body{
  background: #fff;
  font-family: "GOSTA";
  color: #fdfcfc;
  font-size: 57px;
  margin: 0px;
}
.container{
  max-width: 1920px;
  margin: auto;
  background: #030303;
}
/* header */
header{
  width: 100%;
  /*height: 664px;*/
  height: calc(664px - 250px);
}
.header_top{
  display: block;
}
.logo{
  width: 32.68%;
  display: inline-block;
}
.contact_on_top{
  float: right;
  margin-right: 2%;
  margin-top: 160px;
}
.social{
  margin-bottom: 40px;
}
.social p{
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
  font-size: 43px;
  position: relative;
  bottom: 5px;
}
.social a{
  display: inline-block;
  cursor: pointer;
}
.social a:nth-child(4){
  position: relative;
  top: 3px;
}
.red_phone{}
.red_phone .red_button{
  width: 700px;
  height: 130px;
  font-size: 86px;
  padding: 15px 40px;
}
.main_page_container{
  padding-top: 250px
}
.mobile_menu{
  display: none;
}
.mobile-wrapper {
  display: none;
}
.menu_nav{
  display: block;
  background: #fdfdfd;
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 2000;
}
.menu_nav li{
  text-decoration: none;
  display: inline-block;
  margin: 23px;
}
.menu_nav ul{
  padding-top: 50px;
  margin: 0px;
}
.menu_nav li>a{
  text-transform: uppercase;
  text-decoration: none;
  color: #040404;
  font-size: 86px;
}

  /* contant */
.top_slider img{
  width: 100%;
}
.top_slider .slick-prev{
  left: 20px;
  background: url(../images/slider_top_left.png);
  width: 40px;
  height: 100px;
  z-index: 2;
  cursor: pointer;
}
.top_slider .slick-next{
  right: 20px;
  background: url(../images/slider_top_right.png);
  width: 40px;
  height: 100px;
  cursor: pointer;
}
.top_slider .slick-next:before{
  content: none;
}
.top_slider .slick-prev:before{
  content: none;
}
.top_slider .slick-dots{
  bottom: 20px;
}
/* about */
.about{
  height: auto;
  padding-bottom: 100px;
  display: table;
}
.about .text{
  padding-left: 40px;
  width: calc(100% - 40px);
}

.slider_description{
  width: 49%;
  display: inline-block;
}
.slide_description_text{
  width: 100%;
  padding-left: 5%;
}
.slider_right{
  width: 39%;
  display: inline-block;
  position: relative;
}
.slider_right img{
  position: absolute;
  width: 450px;

  top: -400px;
  opacity: 0.99;
  z-index: 3;
}
.slider_right img:nth-child(2){
  width: 450px;
  top: -500px;
  opacity: 0.99;
  z-index: 2;
  left: 80px;
}
.slider_right img:nth-child(3){
  width: 450px;
  top: -600px;
  opacity: 0.99;
  z-index: 1;
  left: 150px;
}

.call_back_block{
  padding-left: 2%;
  height: 300px;
  background: #323131;
  color: #030303;
}
.call_back_block h1{
    padding-top: 70px;
    font-size: 172px;
    line-height: 120px;
    margin: 0px;
}
.call_back_block h2{
  padding-top: 70px;
    font-size: 86px;
    margin: 0px;
}
.call_back_block p{
    font-size: 47px;
    margin: 0px;
}
.call_back_block a{
  width: 500px;
  font-size: 86px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  float: right;
  position: relative;
  bottom: 120px;
  right: 2%;
}
/* plan */
.plan_block{}
.slider_plan{
  display: inline-block;
  width: 40%;
  text-align: center;
}
.jcarousel-item{
  width: 100%;
}
#wrapper {
	width: 100%;
	padding-top: 0;
	line-height: 20px;
}
.jcarousel-container {
	float:left;
	display: block;
	position: relative;
	margin:0;
	padding:0;
}

.jcarousel-container-vertical {
	width:  100%;
	height: 500px;
}

.jcarousel-clip-vertical {
	height: 500px;
}

.jcarousel-item {
	height: 200px;
	overflow: hidden;
	position: relative;
	display: block;
	z-index: 1;
  margin: 25px 0px;
}
.jcarousel-item img{
	height: 200px;
    width: 300px;
}
#newslist-next {
	cursor: pointer;
	top:0px;
}

#newslist-prev {
	cursor: pointer;
	outline: 0;
}
.plan_text{
  display: inline-block;
  padding-left: 2%;
  width: 50%
}
/* comment */
.comment_block{
    padding-bottom: 50px;
}
  .comment_block .red_button{
    padding: 5px 25px;
    font-size: 54px;
    text-transform: uppercase;
    float: right;
    margin-top: -15px;
    margin-right: 23%;
  }
  .comment_slider_wrap{
    width: 1800px;
    margin: auto;
  }
  .comment_slider{
    width: 1800px;
    margin: auto;
  }
  .comment_slider img{
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: 50px;
  }
  .comment_slider p{
    display: inline-block;
    margin-right: 30px;
  }
  #comment_text{
    width: 1100px;
    display: inline-table;
  }
  /* comment_slider */

    .comment_slider_wrap .slick-prev{
      left: calc(50% - 150px);
      top: 420px;
      background: url(../images/left_arrow.png);
      width: 64px;
      height: 58px;
      z-index: 2;
      cursor: pointer;
    }
    .comment_slider_wrap .slick-next{
      right: calc(50% - 90px);
      top: 420px;
      background: url(../images/right_arrow.png);
      width: 64px;
      height: 58px;
      cursor: pointer;
    }
    .comment_slider_wrap .slick-next:before{
      content: none;
    }
    .comment_slider_wrap .slick-prev:before{
      content: none;
    }
    .comment_slider_wrap .slick-dots{
      bottom: 20px;
    }
  .map{
    width: 100%;
  }
  .black_row{
    height: 300px;
    width: 100%;
    background: #030303;
    position: relative;
  }
  .black_row>p{
    font-size: 109px;
    text-align: center;
    color: #b60e10;
    margin: 0px;
    position: relative;
    top: -15px;
  }
  .black_row>p>img{
    margin-right: 47px;
    position: relative;
    top: 60px;
  }
  .up_arrow{
    position: fixed;;
    bottom: 50px;
    left: 5px;
    z-index: 1000;
  }
  .up_arrow img:hover, .sand_mail img:hover, .call_phone img:hover{cursor: pointer;}
  .sand_mail{
    position: fixed;;
    bottom: -19px;
    right: 10%;
    z-index: 100;
  }
  .call_phone{
    position: fixed;;
    bottom: -14px;
    right: 2%;
    z-index: 100;
  }
  .up_arrow img{
    width: 64px;
  }
  .sand_mail img{
    width: 64px;
  }
  .call_phone img{
    width: 64px;
  }
  /* footer */
footer{
  background: #fffefe;
  color: #060606;
  font-size: 43px;
}
.footer_nav{
  display: inline-block;
  width: 22.7%;
  position: relative;
  top: -120px;
}
.footer_nav_wrap{
  margin: auto;
  width: 310px;
}
.footer_nav_wrap img{
  margin-left: 35px;
}
.footer_nav_wrap ul>li{
  list-style-type: none;
}
.footer_nav_wrap ul>li>a{
  text-decoration: none;
  color: #060606;
  cursor: pointer;
}
.footer_nav_wrap ul>li>a:hover{
  color: #b00810;
}
.footer_contact{
  display: inline-block;
  width: 35.45%;
  padding-top: 68px;
  /*padding-right: 100px;
  padding-left: 100px;*/
}
.footer_contact ul li{
  list-style-type: none;
  margin-bottom: 35px;
}
.footer_contact ul li .img_wrap{
  display: inline-block;
  width: 80px;
  margin-right: 27px;
  text-align: center;
}
.footer_contact ul li p{
  display: inline-block;
  width: 465px;
  padding: 0px;
  margin: 0px;
}
.footer_soc{
  display: inline-block;
  width: 40%;
  position: relative;
  top: -50px;
}
.footer_soc ul li{
  list-style-type: none;
}
.footer_soc ul li a{
  display: inline-block;
  text-decoration: none;
  color: #060606;
}
.footer_soc ul li a img{
  width: 90px;
  position: relative;
  top: 30px;
}
.footer_soc .img_wrap{
  display: inline-block;
  margin-right: 30px;
  width: 100px;
  text-align: center;
}

.red_button{
  color: #fdfbfb;
  background: #b0060e;
  text-decoration: none;
}


  /* CALL FEEDBACK */
#shadow_feedback{
	background: black;
	height: 100%;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	z-index: 1500;
	display:none;
	top:0;
	left:0;
}
#window_feedback, #window_feedback2, #window_feedback3, #window_feedback4{
	text-align: center;
	position:fixed;
	left: calc(50% - 250px);
	top: 60vh; /*40%;*/
    width: 500px;
    height: 300px;

	margin-top:-190px;
	border:1px solid black;
	display:none;
	background: #383637;
	z-index:2000;
	box-shadow: 0px 0px 10px #000000;
    color: #b2b2b2;
	font-size:20px;
}
.button_submit{
  background: #b0060e;
  color: #fff;
  width: 175px;
  height: 40px;
  font-size: 30px;
  font-family: "GOSTA";
  margin-top: 10px;

}

.close_feedback{
	background: none; /*background: url(/images/close_icon.png) 50% 50% no-repeat transparent;*/
	border: medium none currentColor;
	position: absolute;
	right: -40px;
	top: -40px;
	cursor: pointer;
  z-index: 2000;
}
.close_feedback:after{content:"x"; font-size: 30px;}
.feedbackForm2{
  padding: 10px 30px;
  font-family: "GOSTA";
  font-size: 32px;
}
.feedbackForm2 p{
  margin-top: 10px;
  color: #fff;
  font-size: 30px;
}
.feedbackForm2 label{
  float: left;
  margin-top: 15px;
}
.feedbackForm2 input{
  float: right;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  padding-left: 5px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
}

.migomTextarea {
	border: 1px solid #DDDAD3;
	border-radius: 4px;
	margin-bottom: 10px;
	min-height: 100px;
	width:508px;
	outline: medium none;
	padding: 8px 12px;
}
.proj_slider{
  padding-left: 2%;
}

.text_a{
  width: 55%;
  display: inline-block;
  text-align: left;
}
.item{
  width: 1000px;
}
.slider_complete{

  text-align: center;
}
.proj_slider .slick-prev{
  width: 64px;
  height: 59px;
  background: url('../images/left_arrow.png');
  top: 710px;
  left: 60%;
  z-index: 100;
}
.proj_slider .slick-next{
  width: 64px;
  height: 59px;
  background: url('../images/right_arrow.png');
  top: 710px;
  right: 25%;
  z-index: 100;
}
.proj_slider .slick-prev:before{
  content: none;
}
.proj_slider .slick-next:before{
  content: none;
}



                                                                  /* responsive */


@media only screen and (min-width : 1920px){
  .proj_slider{
    padding-left: 0px;
  }
  .slider_complete{
    width: 1500px;
    margin: auto;
  }
  .jcarousel-container-vertical{
    height: 1000px;
  }
  .proj_slider{
    height: 900px;
  }
  .jcarousel-clip-vertical{
    height: 1000px;
  }
  .jcarousel-item{
    height: 500px;
  }
  .jcarousel-item img{
    height: 400px;
    width: 600px;
  }
}
@media only screen and (min-width : 1140px) and (max-width : 1549px) {
  .text_a{
    font-size: 30px;
  }
  .slider_complete{
    width: 1000px;
    margin: auto;
  }
  .slider_right img{
    position: absolute;
    width: 300px;
    height: 200px;
    top: -180px;
    left: 10px;
  }
  .slider_right img:nth-child(2){
    width: 300px;
    height: 200px;
    top: -230px;
    left: 60px;
  }
  .slider_right img:nth-child(3){
    width: 300px;
    height: 200px;
    top: -280px;
    left: 110px;
  }
}

@media only screen and (min-width : 1850px) and (max-width : 1919px) {
.menu_nav li>a{
  font-size: 80px;
}
.jcarousel-container-vertical{
  height: 1000px;
}
.proj_slider{
  height: 900px;
}
.jcarousel-clip-vertical{
  height: 1000px;
}
.jcarousel-item{
  height: 500px;
}
.jcarousel-item img{
  height: 400px;
  width: 600px;
}
}

@media only screen  and (max-width : 1849px) {/* and (min-width : 1141px) */
  body{
    font-size: 30px;
  }
  header{
    height: auto;
  }
.logo img{
  width: 400px;
}
.contact_on_top{
  margin-top: 60px;
}
.social{
  margin-bottom: 15px;
}
.social p{
  font-size: 30px;
}
.social a img{
  width: 30px;
}
.social a:nth-child(4){
  top: 0px;
}
.red_phone .red_button{
  font-size: 40px;
}
.main_page_container{
  padding-top: 100px;
}
.menu_nav{
  height: 100px;
}
.menu_nav ul{
  padding-top: 7px;
  text-align: center;
  padding-left: 0px;
}
.menu_nav li>a{
  font-size: 40px;
}

.call_back_block h1{
  font-size: 100px;
}
.call_back_block a{
  width: 400px;
  font-size: 56px;
  bottom: 160px;
}
.call_back_block h2{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 46px;
}
.comment_block{
  padding-bottom: 100px;
}
.comment_slider_wrap{
  width: 100%;
}
.comment_slider img{
  position: absolute;
  margin-left: 50px;
  top: 90px;
}
.comment_slider p:nth-child(2){
  position: relative;
  top: 0px;
  margin-left: 20px;
}
#comment_text{
  width: 70%;
}
.comment_slider_wrap .slick-prev{
  left: 10px;
  top: 260px;
}
.text_a{
  font-size: 36px;
}
.slider_right img{
  position: absolute;
  width: 300px;
  height: 200px;
  top: -180px;
  left: 10px;
}
.slider_right img:nth-child(2){
  width: 300px;
  height: 200px;
  top: -230px;
  left: 60px;
}
.slider_right img:nth-child(3){
  width: 300px;
  height: 200px;
  top: -280px;
  left: 110px;
}

.proj_slider .slick-prev{
  top: 390px;
  left: 60%;
}
.proj_slider .slick-next{
  top: 390px;
  right: 25%;
}

.comment_slider_wrap .slick-next{
  left: 150px;
  top: 260px;
}
.black_row>p{
  font-size: 70px;
  top: 60px;
}
.black_row>p>img{
  width: 120px;
  top: 30px;
}
.sand_mail{
  right: 15%;
  bottom: -9px;
}
.call_phone{
  bottom: -5px;
}
footer{
  font-size: 20px;
}
.footer_nav_wrap{
  width: 200px;
}
.footer_nav_wrap img{
  width: 150px;
}
.footer_contact{
  width: 40%;
}
.footer_contact ul li p{
  width: 80%;
}
.footer_contact ul li .img_wrap{
  width: 40px;
}
.footer_contact ul li .img_wrap img{
  width: 40px;
}
.footer_soc{
  width: 32%;
  top: -130px;
}
.footer_soc .img_wrap{
  width: 30px;
}
.footer_soc ul li a img{
  width: 40px;
  position: relative;
  top: 12px;
}
}
@media only screen and (min-width : 1140px) and (max-width : 1549px) {
  .text_a{
    font-size: 30px;
  }
}
@media only screen and (min-width : 1550px) and (max-width : 1920px) {
/*.slider_complete{
    font-size: 40px;
  }*/
  .slider_complete{
    width: 1500px;
    margin: auto;
  }
/*  .proj_slider .slick-prev{
    top: 450px;
    left: 60%;
  }
  .proj_slider .slick-next{
    top: 450px;
    right: 25%;
  }*/
}
@media only screen  and (max-width : 1140px) {
.main_page_container{
  padding-top: 80px;
}
.menu_nav{
  height: 80px;
}
.menu_nav ul{
  padding-top: 0px;
}
.menu_nav li>a{
  font-size: 32px;
}
.slider_complete{
  width: 1000px;
  text-align: center;
}
.text_a{
  font-size: 30px;
}
.slider_description{
  width: 49%;
  display: inline-block;
}
.slide_description_text{
  width: 100%;
  padding-left: 5%;
}
.slider_right{
  width: 39%;
  display: inline-block;
  position: relative;
}
.proj_slider .slick-prev{
  top: 390px;
  left: 65%;
}
.proj_slider .slick-next{
  top: 390px;
  right: 20%;
}
.call_back_block{
  height: 220px;
}
.call_back_block a{
  width: 270px;
  font-size: 40px;
}
.call_back_block h1{
  font-size: 80px;
  padding-top: 20px;
}
.call_back_block h2{
  font-size: 34px;
}
.call_back_block p{
  font-size: 35px;
}
.call_back_block a{
  bottom: 140px;
}
.comment_slider_wrap{
  text-align: center;
}
.comment_slider img{
  position: relative;
  top: 40px;
}
.comment_slider_wrap .slick-prev{
  top: 90px;
  left: 50px;
}
.comment_slider_wrap .slick-next{
  top: 90px;
  right: 50px;
  left: auto;
}
.comment_block .red_button{
  margin-top: 15px;
  font-size: 40px;
  margin-right: calc(50% - 150px);
}
.black_row{
  height: 200px;
}
.black_row>p{
  font-size: 50px;
  top: 40px;
}
.black_row>p>img{
  width: 80px;
  top: 20px;
  margin-right: 20px;
}
#newslist-prev img{
  width: 64px;
}
#newslist-next img{
  width: 64px;
}
.up_arrow img{
  width: 64px;
}
.sand_mail img{
  width: 64px;
}
.call_phone img{
  width: 64px;
}
.footer_nav{
  top: -80px;
}
.footer_contact{
  width: 38%;
  padding-top: 30px;
}
.footer_contact ul{
  padding-left: 0px;
}
.footer_contact ul li .img_wrap{
  width: 20px;
}
.footer_contact ul li .img_wrap img{
  width: 25px;
}
.footer_soc{
  width: 37%;
  top: -100px;
}
.footer_soc .img_wrap{
  margin-right: 10px;
}
.footer_soc ul{
  padding-left: 0px;
}
.footer_soc ul li a img{
  width: 30px;
  position: relative;
  top: 8px;
}
}
@media only screen and (max-width : 892px) {
.about .text{
  padding-left: 0px;
}
.slide_description_text{
  padding-left: 0px;
}
.slider_description{
  width: 100%;
}
.slider_right{
  width: 100px;
  margin-top: 300px;
}
.plan_text{
  padding-left: 0px;
}
}
@media only screen and (max-width : 871px) {
#contacts{
  text-align: center;
}
.footer_nav{
  width: 100%;
  top: 0px;
}
.footer_nav_wrap{
  width: 100%;
}
.footer_nav_wrap ul>li{
  display: inline-block;
  margin-right: 20px;
}

.footer_contact{
  width: 60%;
  display: block;
  margin: auto;
}
.footer_soc{
  width: 100%;
  top: 0px;
}
.footer_soc ul li{
  text-align: left;
  margin-left: calc(50% - 20%);
}
}
@media only screen and (min-width : 870px) and (max-width : 1023px) {
  .slider_complete{
    width: 850px;
    text-align: left;
  }
  .proj_slider .slick-prev{
    top: 420px;
    left: 65%;
  }
  .proj_slider .slick-next{
    top: 420px;
    right: 10%;
  }
}

@media only screen and (max-width : 870px) {
.header_top{
  padding-bottom: 10px;
}
.logo img{
  width: 200px;
}
.contact_on_top{
  margin-top: 10px;
}
.social{
  text-align: center;
}
.social p{
  display: block;
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  margin-right: 0px;
}
.red_phone .red_button{
  font-size: 20px;
}
.mobile_menu{
  display: block;
}
.mobile_menu img{
  position: relative;
  top: 8px;
}
.mobile-wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.menu_nav ul{
  background: #fdfdfd;
  position: fixed;
  width: 300px;
  height: 100%;
  left: -600px;
}
.menu_nav ul li{
  width: 90%;

  display: block;
}
.slider_plan{
  width: 100%;
}
.plan_text{
  width: 100%;
}
.slick-prev{
  display: none;
  visibility: hidden;
}
.slick-next{
  display: none;
  visibility: hidden;
}
.call_back_block{
  text-align: center;
  height: 330px;
  padding-left: 0px;
}
.call_back_block a{
  top: 20px;
  float: none;
  padding: 10px 30px;
}

.slider_complete{
  width: 537px;
  text-align: center;
  margin: auto;
}
.text_a{
  width: 100%;
  text-align: center;
}
.slider_right{
  width: 100%;
}
.proj_slider .slick-prev{
  top: 420px;
  left: 65%;
}
.proj_slider .slick-next{
  top: 420px;
  right: 10%;
}
}
@media only screen and (max-width : 560px) {
.logo{
  width: 100%;
}
.logo img{
  width: 100%;
}
.contact_on_top{
  float: none;
  text-align: center;
}
.about .text{
  padding-left: 0px;
}
.call_back_block h1{
  font-size: 40px;
}

.plan_text{
  width: 100%;
}
.call_back_block{
  height: 400px;
}
.black_row{
  height: 320px;
}
.black_row>p>img{
  padding-bottom: 10px;
  display: block;
  margin: 10px auto 0px;
}
.up_arrow{
  display: none;
}
.sand_mail{
  left: 2%;
}
.footer_nav_wrap ul{
  padding-left: 0px;
}
.footer_nav_wrap ul>li{
  display: block;
  margin-right: 0px;
  margin-top: 10px;
}
.footer_contact ul li p{
  width: 100%;
}
.footer_soc ul li{
  text-align: center;
  margin-left: auto;
}
.footer_soc .img_wrap{
  width: 100%;
  display: block;
}
.footer_contact ul li .img_wrap{
  margin-right: 5px;
}
.slider_complete{
  width: 300px;
}
.slider_right img{
  position: absolute;
  width: 100%;
  height: auto;
  top: -220px;
  left: 10px;
}
.slider_right img:nth-child(2){
display: none;
}
.slider_right img:nth-child(3){
  display: none;
}

#window_feedback, #window_feedback2, #window_feedback3, #window_feedback4{
  left: auto;
  top: 60vh;
  width: 100%;
  height: auto;
	margin-top:-190px;
	font-size:20px;
}
.button_submit{
  width: 175px;
  height: 40px;
  font-size: 30px;
  margin-top: 10px;
}
.close_feedback{
	right: 40px;
	top: -40px;
}
.feedbackForm2{
  padding: 0px;
}
.feedbackForm2 label{
  float: none;
}
.feedbackForm2 input{
  float: none;
  display: block;
  margin: auto;
}
}



  /* fonts */
  /* font-family: "GostARegular"; */
  @font-face {
    font-family: "GOSTA";
    src: url("../fonts/gost-type-a.ttf");
}
@font-face {
    font-family: "GOSTTypeA";
    src: url("../fonts/gost-type-a.ttf");
    src: url("../fonts/GostARegular.woff");
    src: url("../fonts/GostARegular.eot");
    font-style: normal;
    font-weight: normal;
}
