*{
  outline: none;
}
body{
  background: #030303;
  font-family: "GOSTA";
  color: #fdfcfc;
  font-size: 38px;
  margin: 0px;
  width: 100%;
  margin: auto;
}
.container{
  max-width: 1920px;
  margin: auto;
  position: relative;
}
/* header */
header{
  width: 100%;
  background: #030303;
  height: auto;
}
.header_top{
  width: 90%;
  margin: auto;
}
.logo{
  width: 45%;
  display: inline-block;
}
.logo img{
  width: 100%;
}
.contact_on_top{
  float: right;
  margin-top: 160px;
}
.social{
  margin-bottom: 40px;
}
.social p{
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
  font-size: 43px;
  position: relative;
  bottom: 5px;
}
.social a{
  display: inline-block;
  cursor: pointer;
}
.red_phone .red_button{
  width: 700px;
  height: 130px;
  font-size: 68px;
  padding: 10px 30px;
}
.main_page_container{
  padding-top: 250px
}
.mobile_menu{
  display: none;
}
.mobile-wrapper {
  display: none;
}
.menu_nav{
  display: block;
  background: #fdfdfd;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 2000;
}
.menu_nav li{
  text-decoration: none;
  display: inline-block;
  margin: 24px 0;
}
.menu_nav ul{
  padding-top: 27px;
  width: 90%;
  margin: auto;
  padding-left: 0px;
  text-align: justify;
}

.menu_nav ul:after{
  content: "";
  display: inline-block;
  width: 100%;
}
.menu_nav li>a{
  text-transform: uppercase;
  text-decoration: none;
  color: #040404;
  font-size: 60px;
}

  /* contant */
  .container{
    width: 70%;
  }
.page_body{
  background: #030303;
  padding-top: 160px;
}
.top_slider img{
  width: 100%;
  height: calc(100vh - 585px);
}
.top_slider .slick-prev{
  left: 20px;
  background: url(../images/slider_top_left.png);
  width: 40px;
  height: 100px;
  z-index: 2;
  cursor: pointer;
}
.top_slider .slick-next{
  right: 20px;
  background: url(../images/slider_top_right.png);
  width: 40px;
  height: 100px;
  cursor: pointer;
}
.top_slider .slick-next:before{
  content: none;
}
.top_slider .slick-prev:before{
  content: none;
}
.top_slider .slick-dots{
  bottom: 40px;
}
.slick-dots li button:before{
  font-size: 26px;
}
/* about */
.about{
  height: auto;
  display: table;
}
.about .text{
  padding-left: 5%;
  width: 90%;
}
.slider_complete_wrap{
  width: 100%;
  height: 600px;
}
.slider_complete{
  position: relative;
  top: -240px;
  text-align: center;
}
.slider_description{
  width: 49%;
  display: inline-block;
}
.slide_description_text{
  width: 100%;
  padding-left: 5%;
}
.slider_right{
  width: 49%;
  height: 500px;
  display: inline-block;
  position: relative;
}
.slider_right a img{
  position: relative;
  width: 80%;
  bottom: -94px;
  opacity: 0.99;
  z-index: 3;
  -webkit-box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
}
.slider_right a:nth-child(2) img{
  position: absolute;
  width: 70%;
  top: -60px;
  opacity: 0.7;
  z-index: 2;
  left: 150px;
  -webkit-box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.75);
}
.slider_right a:nth-child(3) img{
  position: absolute;
  width: 60%;
  top: -190px;
  opacity: 0.3;
  z-index: 1;
  left: 300px;
}
.slider_complete .slick-slide{
  padding-top: 200px;
}
.call_back_block{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 300px;
  background: #323131;
  color: #030303;
  position: relative;
}
.call_back_block h3{
    padding-top: 60px;
    font-size: 110px;
    line-height: 120px;
    margin: 0px;
}
.call_back_block h4{
  padding-top: 90px;
  font-size: 55px;
    margin: 0px;
}
.call_back_block p{
    font-size: 47px;
    margin: 0px;
}
.call_back_block a{
  width: 400px;
  font-size: 66px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  float: right;
  position: absolute;;
  top: 90px;
  right: 0%;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.94);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.94);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.94);
}
/* plan */
.plan_block{
  width: 90%;
  margin-left: 5%;
}
.slider_plan{
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 0 5% 0 0;
}
.jcarousel-item{
  width: 100%;
}
#wrapper {
	width: 100%;
	padding-top: 0;
	line-height: 20px;
}
.jcarousel-container {
	float:left;
	display: block;
	position: relative;
	margin:0;
	padding:0;
}

.jcarousel-container-vertical {
	width:  100%;
	height: 950px;
}

.jcarousel-clip-vertical {
	height: 900px;
}

.jcarousel-item {
	height: 450px;
	overflow: hidden;
	position: relative;
	display: block;
	z-index: 1;
  margin: 25px 0px;
}
.jcarousel-item img{
  width: 100%;
}
#newslist-next {
	cursor: pointer;
	top:0px;
}

#newslist-prev {
	cursor: pointer;
	outline: 0;
  margin-left: 5vw;
}
.plan_text{
  display: inline-table;
  vertical-align: top;
  padding-left: 2%;
  width: 61%
}
.plan_text p{
  margin-top: 20px;
}
/* comment */
.comment_block{
  width: 90%;
  padding-left: 5%;
  padding-bottom: 50px;
}
  .comment_block .red_button{
    padding: 5px 25px;
    font-size: 54px;
    text-transform: uppercase;
    float: right;
    margin-top: -13px;
    margin-right: 20%;
    z-index: 20;
    opacity: 0.99;
  }
  .comment_slider_wrap{
    width: 100%;
    height: 400px;
    margin: auto;
  }
  .comment_slider{
    margin: auto;
  }
  .comment_slider img{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: 50px;
  }
  .comment_slider p{
    width: 400px;
    display: inline-block;
    margin-right: 30px;
  }
  #comment_text{
    margin-right: 0px;
    width: calc(100% - 430px - 170px);
    display: inline-table;
  }
  /* comment_slider */

    .comment_slider_wrap .slick-prev{
      left: calc(50% - 150px);
      top: 420px;
      background: url(../images/left_arrow.png);
      width: 64px;
      height: 58px;
      z-index: 2;
      cursor: pointer;
    }
    .comment_slider_wrap .slick-next{
      right: calc(50% - 90px);
      top: 420px;
      background: url(../images/right_arrow.png);
      width: 64px;
      height: 58px;
      cursor: pointer;
    }
    .comment_slider_wrap .slick-next:before{
      content: none;
    }
    .comment_slider_wrap .slick-prev:before{
      content: none;
    }
    .comment_slider_wrap .slick-dots{
      bottom: 20px;
    }
  .map{
    height: 375px;
    width: 100%;
  }
  .black_row{
    height: 300px;
    width: 100%;
    background: #030303;
    position: relative;
  }
  .black_row .container>p{
    font-size: 109px;
    text-align: center;
    color: #b60e10;
    margin: 0px;
    position: relative;
    top: -15px;
  }
  .black_row .container>p>img{
    margin-right: 47px;
    position: relative;
    top: 60px;
  }
  .up_arrow{
    position: fixed;;
    bottom: 50px;
    left: 5px;
    z-index: 1000;
  }
  .up_arrow img:hover, .sand_mail img:hover, .call_phone img:hover{cursor: pointer;}
  .sand_mail{
    position: fixed;;
    bottom: -19px;
    right: 2%;
    z-index: 100;
  }
  .call_phone{
    position: fixed;;
    bottom: -14px;
    right: 2%;
    z-index: 100;
  }
  .up_arrow img{
    width: 64px;
  }
  .sand_mail img{
    width: 64px;
  }
  .call_phone img{
    width: 64px;
  }
  /* footer */
footer{
  background: #fffefe;
  color: #060606;
  font-size: 43px;
  padding-bottom: 50px;
}
footer .container{

}
footer p{
  margin: 0px;
}
.footer_nav{
  display: inline-table;
  width: 21%;
  position: relative;
  top: -40px;
}
.footer_nav_wrap{

}
.footer_nav_wrap img{

}
.footer_nav_wrap ul{
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}
.footer_nav_wrap ul>li{
  margin-bottom: 4px;
}
.footer_nav_wrap ul>li>a{
  text-decoration: none;
  color: #060606;
  letter-spacing: 0.8px;
}
.footer_nav_wrap ul>li>a:hover{
  color: #b0060e;
}
.footer_contact{
  margin-top: 50px;
  display: inline-table;
  width: 50%;
  background: #f4f4f4;
  padding: 37px;
}
.footer_contact ul{
  margin: 0px;
  width: 100%;

  list-style-type: none;
  padding-left: 0px;
}
.footer_contact ul li{
  width: 49.1%;
  display: inline-table;
}
.footer_contact ul li .img_wrap{
  position: relative;
  top: 3px;
  display: inline-table;
  width: 32px;
  margin-right: 4%;
}
.footer_contact ul li .img_wrap svg path{
  fill: #b00810;
}
.footer_contact ul li p{
  margin: 0px;
  display: inline-table;
  vertical-align: top;
  line-height: 60px;
  width: calc(100% - 60px);
}
.footer_contact ul li a{
  position: relative;
  bottom: 8px;
  vertical-align: bottom;
  display: inline-table;
}
.footer_soc{
  display: inline-table;
  width: 20%;
  float: right;
  margin-top: 50px;
}
.share{
  position: relative;
  text-align: left;
  padding-bottom: 30px;
}
.footer_soc ul{
  padding-left: 0px;
  list-style-type: none;
}
.footer_soc ul li{
  display: inline-block;
}
.footer_soc ul li a img{

}
.footer_soc .img_wrap{
  width: 42px;
}
.footer_soc{
  text-align: right;
}
.footer_soc .img_wrap:hover .description{
  font-size: 0.6em;
  display: block;
}
.description{
  display: none;
  position: absolute;
  left: 0;
  bottom: 3px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.red_button{
  color: #fdfbfb;
  background: #b0060e;
  text-decoration: none;
}


  /* CALL FEEDBACK */
#shadow_feedback{
	background: black;
	height: 100%;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	z-index: 1500;
	display:none;
	top:0;
	left:0;
}
#window_feedback, #window_feedback2, #window_feedback3, #window_feedback4{
	text-align: center;
	position:fixed;
	left: calc(50% - 250px);
	top: 60vh; /*40%;*/
    width: 500px;
    height: 300px;

	margin-top:-190px;
	border:1px solid black;
	display:none;
	background: #383637;
	z-index:2000;
	box-shadow: 0px 0px 10px #000000;
    color: #b2b2b2;
	font-size:20px;
}
.button_submit{
  background: #b0060e;
  color: #fff;
  width: 175px;
  height: 40px;
  font-size: 30px;
  font-family: "GOSTA";
  margin-top: 10px;

}

.close_feedback{
	background: none; /*background: url(/images/close_icon.png) 50% 50% no-repeat transparent;*/
	border: medium none currentColor;
	position: absolute;
	right: -40px;
	top: -40px;
	cursor: pointer;
  z-index: 2000;
}
.close_feedback:after{content:"x"; font-size: 30px;}
.feedbackForm2{
  padding: 10px 30px;
  font-family: "GOSTA";
  font-size: 32px;
}
.feedbackForm2 p{
  margin-top: 10px;
  color: #fff;
  font-size: 30px;
}
.feedbackForm2 label{
  float: left;
  margin-top: 15px;
}
.feedbackForm2 input{
  float: right;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  padding-left: 5px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
}

.migomTextarea {
	border: 1px solid #DDDAD3;
	border-radius: 4px;
	margin-bottom: 10px;
	min-height: 100px;
	width:508px;
	outline: medium none;
	padding: 8px 12px;
}
.proj_slider{
  width: 90%;
  padding-left: 5%;
}
.proj_slider h2{
  width: 60%;
  padding-left: 120px;
}
.text_a{
  width: 48%;
  display: inline-table;
  vertical-align: top;
  margin-left: 1%;
  text-align: left;
}
.text_a p {
  margin-top: 0px;
}
.item{
  width: 1000px;
}
.proj_slider .slick-prev{
  width: 64px;
  height: 59px;
  background: url('../images/left_arrow.png');
    top: 780px;
  left: 60%;
  z-index: 10;
}
.proj_slider .slick-next{
  width: 64px;
  height: 59px;
  background: url('../images/right_arrow.png');
    top: 780px;
  right: 25%;
  z-index: 10;
}
.proj_slider .slick-prev:before{
  content: none;
}
.proj_slider .slick-next:before{
  content: none;
}

/* light box */
#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}
#lightboxCaption{ float: left; color: #000}
#keyboardMsg{ float: right; color: #000; display: none;}
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;}
#overlay img{ border: none; }



* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}
/* перенос со 1920 */
.jcarousel-container-vertical{
  height: 700px;
}
.jcarousel-clip-vertical{
  height: 700px;
}
.jcarousel-item{
  height: 300px;
}
.comment_block .red_button{
  margin-right: 11%;
  margin-top: -10px;
}
.black_row .container>p{
  font-size: 90px;
}
footer{
  font-size: 30px;
}
/*footer .container{
  width: 90%;
  margin-left: 5%;
}*/
.footer_nav {
  top: -43px;
}
.footer_contact ul li .img_wrap img{

}
.footer_contact ul li .img_wrap{
  top: -3px;
}
.footer_contact ul:nth-child(2) li:first-child .img_wrap svg{
  width: 17px;
}
.footer_contact ul:nth-child(2) li:nth-child(2) .img_wrap{
  top: 3px;
}
.footer_contact ul li .img_wrap svg{
  width: 25px;
}
.footer_contact{

}
.footer_contact ul li p{
  margin: 0px;
  display: inline-table;
  vertical-align: top;
  line-height: 30px;
  width: calc(100% - 50px);
}

.footer_soc .img_wrap a svg path{
fill: #b00810;
}
.footer_soc .img_wrap:hover a svg path{
fill: #4d76a1;  #3b579d
}
.img_wrap:hover #f svg path{
fill: #3b579d;
}
.img_wrap:hover #ok svg path{
fill:#f6881f;
}
.img_wrap:hover #inst svg path{
fill: url(#b);
}

                                                                  /* responsive */

@media only screen and (max-width : 1920px) {
/*  body{
    font-size: 40px;
  }
  .container{
    width: 100%;
  }
  .header_top{
    width: 90%;
    margin: auto;
  }
  .red_phone .red_button{
    font-size: 78px;
  }
  .menu_nav{
    height: 160px;
  }
  .menu_nav ul{
    width: 90%;
    margin: auto;
    padding-top: 21px;
  }
  .menu_nav li{
    margin: 24px 0;
  }
  .menu_nav li>a{
    font-size: 70px;
  }
  .page_body{
    padding-top: 160px;
  }
  .slider_complete{
    top: -240px;
  }
  .text_a{
    display: inline-table;
    vertical-align: top;
  }
  .slider_right{
    height: 500px;
  }
  .slider_complete .slick-slide{
    padding-top: 200px;
  }
  .slider_right a:nth-child(2) img{
    top: -60px;
    left: 150px;
  }
  .slider_right a:nth-child(3) img{
    top: -190px;
    left: 300px;
  }
  .proj_slider .slick-prev{
    top: 780px;
  }
  .proj_slider .slick-next{
    top: 780px;
  }

  .call_back_block h3{
    font-size: 135px;
  }
  .call_back_block h4{
    padding-top: 93px;
    font-size: 60px;
}
  .jcarousel-container-vertical{
    height: 700px;
  }
  .jcarousel-clip-vertical{
    height: 700px;
  }
  .jcarousel-item{
    height: 300px;
  }
  .comment_block .red_button{
    margin-right: 11%;
    margin-top: -10px;
  }
  .black_row>p{
    font-size: 90px;
  }
  footer{
    font-size: 32px;
  }
  footer .container{
    width: 90%;
    margin-left: 5%;
  }
  .footer_nav {
    top: -43px;
  }
  .footer_contact ul li .img_wrap img{

  }
  .footer_contact ul li .img_wrap{
    top: -3px;
  }
  .footer_contact ul:nth-child(2) li:first-child .img_wrap svg{
    width: 17px;
  }
  .footer_contact ul:nth-child(2) li:nth-child(2) .img_wrap{
    top: 3px;
  }
  .footer_contact ul li .img_wrap svg{
    width: 25px;
  }
  .footer_contact{

  }
  .footer_contact ul li p{
    margin: 0px;
    display: inline-table;
    vertical-align: top;
    line-height: 30px;
    width: calc(100% - 50px);
  }
  .footer_soc{

  }
  .footer_soc .img_wrap{

  }
  .footer_soc ul li a img{

  }*/
}
@media only screen and (min-width : 1550px) and (max-width : 1717px){
  .footer_contact {

  }
}
@media only screen and (max-width : 1920px){
  body{
    font-size: 34px;
  }
  .logo img{
    width: 300px;
  }
  .contact_on_top{
    margin-top: 60px;
  }
  .red_phone .red_button{
    font-size: 40px;
  }
  .top_slider img{
    width: 100%;
    height: calc(100vh - 308px);
  }
  .menu_nav{
    height: 100px;
  }
  .menu_nav ul{
    padding-top: 0;
  }
  .menu_nav li{
    margin: 25px 0;
  }
  .menu_nav li>a{
    font-size: 52px;
  }
  .top_slider .slick-prev{
    width: 28px;
    height: 70px;
    background-size: contain;
  }
  .top_slider .slick-next{
    width: 28px;
    height: 70px;
    background-size: contain;
  }
  .slick-dots li button:before{
    font-size: 18px;
  }
  .page_body{
    padding-top: 100px;
  }
  .call_back_block{
    height: 200px;
  }
  .call_back_block h3 {
    font-size: 90px;
    padding-top: 10px;
  }
  .call_back_block h4 {
    padding-top: 43px;
    font-size: 40px;
  }
  .call_back_block p {
    font-size: 40px;
  }
  .call_back_block a{
    width: 350px;
    font-size: 50px;
    padding: 10px 0px;
    top: 65px;
  }
  .slider_right {
    height: 450px;
  }
  .proj_slider h2{
    margin-top: 0;
  }
  .slider_right a img{
    bottom: -85px;
  }
  .slider_right a:nth-child(2) img{
    top: -20px;
    left: 100px;
  }
  .slider_right a:nth-child(3) img{
    top: -120px;
    left: 200px;
  }
  .comment_slider_wrap{
    height: 300px;
  }
  .comment_slider p{
    width: 300px;
  }
  #comment_text{
    width: calc(100% - 330px - 170px);
  }
  .comment_slider_wrap .slick-prev{
    top: 320px;
    left: calc(50% - 150px);
  }
  .comment_slider_wrap .slick-next{
    top: 320px;
    right: calc(50% - 90px);
  }
  .comment_block .red_button{
    margin-right: 10%;
    margin-top: 0px;
    font-size: 32px;
  }
  .map{
    height: 300px;
  }
  .black_row{
    height: 160px;
  }
  .black_row .container>p{
    font-size: 60px;
    top: 0px;
  }
  .black_row>.container>p>img{
    top: 25px;
    width: 100px;
  }
  footer{
    font-size: 22px;
  }
  .footer_contact{
    padding: 37px;
  }
  .footer_nav{
    font-size: 26px;
    top: -50px;
  }
  .footer_nav_wrap{

  }
  .footer_nav_wrap ul{

  }
  .footer_nav_wrap img{

  }
  .footer_contact ul li .img_wrap svg{
    width: 18px;
  }
  .footer_contact {

  }
  .footer_contact ul{

  }
  .footer_soc{

  }
  .footer_soc .img_wrap{

  }
  .footer_soc ul li a img{

  }

}

@media only screen and (max-width : 1580px) {
  body{
    font-size: 28px;
  }
  .menu_nav li {
    margin: 27px 0;
}
  .menu_nav li>a{
    font-size: 42px;
  }
  .jcarousel-item{
    width: 100%;
  }
  .slider_complete_wrap{
    height: 500px;
  }
  .slider_right{
    height: 400px;
  }
  .proj_slider h2{
    margin-top: 50px;
  }
  .proj_slider .slick-prev{
    top: 670px
  }
  .proj_slider .slick-next{
    top: 670px
  }
  #wrapper {
  	width: 100%;
  	padding-top: 0;
  	line-height: 20px;
  }
  .slider_right a img{
    bottom: -77px;
  }
  .call_back_block h4{
    padding-top: 55px;
  }
  .jcarousel-container {
  	float:left;
  	display: block;
  	position: relative;
  	margin:0;
  	padding:0;
  }
  .jcarousel-container-vertical {
  	width:  100%;
  	height: 500px;
  }
  .jcarousel-clip-vertical {
  	height: 500px;
  }
  .jcarousel-item {
  	height: 200px;
  	overflow: hidden;
  	position: relative;
  	display: block;
  	z-index: 1;
    margin: 25px 0px;
  }
  .jcarousel-item img{
  	height: 200px;
    width: 300px;
  }
  .call_back_block a{
    width: 250px;
    font-size: 40px;
  }
  .call_back_block h2{
    font-size: 46px;
  }
  .call_back_block h4 {
    padding-top: 60px;
    font-size: 38px;
}
  .call_back_block p {
    font-size: 32px;
  }
  .comment_slider p{
    width: 250px;
  }
  #comment_text{
    width: calc(100% - 280px - 170px);
  }
  .comment_block .red_button{
    margin-right: 2%;
  }
  .map{
    height: 220px;
  }
  footer{
    font-size: 22px;
  }
  .footer_nav{
    top: 20px;
    width: 100%;
  }
  .footer_nav_wrap ul{
    text-align: center;
  }
  .footer_nav_wrap ul>li{
    display: inline-block;
  }
  .footer_nav_wrap {

  }
  .footer_contact{
    width: 60%;
  }
  .footer_contact ul{

  }
  .footer_soc{
    width: 24%;
  }
}
@media only screen and (max-width : 1332px) {
  body{
    font-size: 22px;
  }
  .top_slider img{
  height: calc(100vh - 267px);
  }
  .social p{
    font-size: 28px;
  }
  .red_phone .red_button{
    font-size: 32px;
  }
  .menu_nav{
    height: 60px;
  }
  .menu_nav li{
    margin: 16px 0;
  }
  .menu_nav li>a{
    font-size: 30px;
  }
  .page_body{
    padding-top: 60px;
  }
  .text_a{
    font-size: 22px;
  }
  .slider_complete_wrap {
    height: 340px;
  }
  .slider_complete {
    top: -130px;
  }
  .slider_complete .slick-slide{
    padding-top: 100px;
  }
  .slider_right {
    height: 300px;
  }
  .slider_right a img{
    bottom: -56px;
  }
  .slider_right a:nth-child(2) img{
    top: -30px;
    left: 80px;
  }
  .slider_right a:nth-child(3) img{
    top: -100px;
    left: 150px;
  }
  .proj_slider .slick-prev {
    top: 430px;
  }
  .proj_slider .slick-next{
    right: 20%;
    top: 430px;
  }
  .jcarousel-item img{
    height: auto;
    width: 100%;
  }
  .plan_text{
    padding-left: 0px;
    font-size: 22px;
  }
  .call_back_block{
    height: 250px;
    text-align: center;
  }
  .call_back_block h3{
    padding-top: 0px;
  }
  .call_back_block a {
    width: 250px;
    font-size: 40px;
    right: calc(50% - 125px);
    top: 170px;
}
  .black_row{
    height: 90px;
}
  .black_row .container>p {
    font-size: 43px;
    top: 0px;
}
  .black_row .container>p>img{
    top: 15px;
    width: 60px;
  }
  .comment_block{
    text-align: center;
  }
  .comment_slider img{
    position: absolute;
    top: 70px;
    margin-left: 75px;
  }
  #comment_text{
    width: calc(100% - 300px);
  }
  .comment_slider_wrap .slick-prev{
    left: calc(50% - 150px);
  }
  .comment_slider_wrap .slick-next{
    right: calc(60% - 90px);
  }
  .footer_nav{
    top: 20px;
    width: 100%;
  }
  .footer_nav_wrap ul {
    text-align: center;
  }
  .footer_nav_wrap ul>li{
    display: inline-block;
  }
  .footer_nav_wrap img{

  }

  .footer_nav_wrap ul{

  }
  .footer_nav_wrap img{

  }
  .footer_contact{
    width: 90%;
  }
  .footer_contact ul{

  }
  .footer_contact ul li .img_wrap img{

  }
  .footer_soc .img_wrap{

  }
  .footer_soc{
    width: 100%;
    float: none;
  }
  .footer_soc ul{

  }
  .footer_soc ul li a img{

  }
}
@media only screen and (max-width : 1098px){
  .logo img{
    width: 100%;
  }
  .contact_on_top {
    margin-top: 30px;
  }
  .red_phone .red_button {
    font-size: 26px;
  }
  .menu_nav li>a {
    font-size: 26px;
  }
  .text h1{
    font-size: 30px;
  }
  .proj_slider h2{
    padding-left: 50px;
  }
  .call_back_block h3{
    font-size: 60px;
  }
  .call_back_block h4{
    padding-top: 40px
  }
  .call_back_block p {
    font-size: 28px;
  }
  .proj_slider .slick-next {
    right: 14%;
  }
  .comment_slider_wrap .slick-next {
    right: calc(70% - 90px);
  }
  .slider_right a img {
    bottom: -53px;
  }
  .slider_right a:nth-child(2) img{
    left: 60px;
  }
  .slider_right a:nth-child(3) img{
    left: 120px;
  }
  #newslist-prev{
    margin-left: 4%;
  }
  .black_row .container>p {
    font-size: 36px;
  }
  footer{
    font-size: 20px;
  }
  .footer_nav{
    top: 20px;
    width: 100%;
  }
  .footer_nav_wrap ul>li{
    display: inline-block;
  }
  .footer_nav_wrap ul{
    text-align: center;
  }
  .footer_contact ul{

  }
  .footer_contact ul li .img_wrap img{

  }
  .footer_soc{

  }
  .footer_soc .img_wrap{

  }
  .footer_soc ul{

  }
  .footer_soc ul li a img{

  }
}
@media only screen and (min-width : 721px) and (max-width : 970px) {
  .red_phone .red_button {
    font-size: 22px;
    padding: 10px 20px;
  }
  .menu_nav li>a {
    font-size: 22px;
  }
  .menu_nav ul {
    padding-top: 5px;
}
  .slider_complete_wrap {
    height: 560px;
  }
  .top_slider img{
  height: calc(100vh - 221px);
  }
  .text_a{
    width: 98%;
    font-size: 20px;
    min-height: 230px;
  }
  .call_back_block a{
    right: calc(50% - 130px);
  }
  .call_back_block h3{
    line-height: 100px;
  }
  .call_back_block h4 {
    padding-top: 30px;
}
  .proj_slider h2 {
    margin-top: 0px;
  }
  .slider_right a img{
    position: absolute;
    width: 400px;
    margin-left: calc(50% - 200px);
    bottom: 40px;
  }
  .slider_right a:nth-child(2) img{
    display: none;
  }
  .slider_right a:nth-child(3) img{
    display: none;
  }
  .proj_slider .slick-prev{
    top: 650px;
    left: 30%;
  }
  .proj_slider .slick-next{
    top: 650px;
    right: 30%;
  }
  #newslist-prev {
    margin-left: 0%;
  }
  .comment_block .red_button {
    margin-right: 0%;
    font-size: 28px;
    margin-top: 2px;
  }
  .black_row .container>p {
    font-size: 30px;
  }
  .share{
    text-align: center;
  }
  .footer_soc p{
    text-align: center;
  }
}
@media only screen and (max-width : 720px) {
  body{
    background: #030303;
    font-family: "GOSTA";
    color: #fdfcfc;
    font-size: 20px;
    margin: 0px;
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo img{
    margin-left: 0px;
  }
  .contact_on_top{
    margin-top: 0px;
    padding-bottom: 20px;
    float: none;
    text-align: center;
  }
  .menu_nav{
    width: 100%;
    height: 40px;
  }
  .page_body{
    padding-top: 40px;
  }
  .mobile_menu{
    display: block;
  }
  .mobile_menu img{
    width: 32px;
    position: relative;
    top: 2px;
    left: 5%;
    cursor: pointer;
  }
  .mobile-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .menu_nav ul{
    background: #fdfdfd;
    position: fixed;
    width: 300px;
    height: 100%;
    left: -600px;
  }
  .menu_nav li:first-child{
    margin-top: 10vh;
  }
  .menu_nav ul li{
    text-align: center;
    width: 90%;
    display: block;
  }
  .top_slider .slick-dots{
    bottom: 20px;
  }
  .about{
    padding-bottom: 0px;
  }
  .slider_complete_wrap {
    height: 560px;
  }
  .text_a{
    width: 98%;
    font-size: 20px;
    min-height: 230px;
  }
  .call_back_block a{
    right: calc(50% - 130px);
  }
  .proj_slider h2 {
    margin-top: 0px;
  }
  .slider_right a img{
    position: absolute;
    width: 400px;
    margin-left: calc(50% - 200px);
    bottom: 40px;
  }
  .slider_right a:nth-child(2) img{
    display: none;
  }
  .slider_right a:nth-child(3) img{
    display: none;
  }
  .proj_slider h2{
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .proj_slider .slick-prev{
    top: 650px;
    left: 30%;
  }
  .proj_slider .slick-next{
    top: 650px;
    right: 30%;
  }
  .slider_right{
    width: 90%;
  }
  .slider_plan{
    width: 90%;
    padding-left: 5%;
    text-align: center;
    margin: 0px
  }
  #newslist-prev{
    margin-left: 0px;
  }
  .plan_text{
    width: 100%;
  }
  .plan_text p{
    text-align: left;
  }
  .jcarousel-item img {
    height: 200px;
    width: 300px;
}
  .call_back_block h3{
    font-size: 50px;
    line-height: 100px;
  }
  .call_back_block h4{
    padding-top: 20px;
  }
  .call_back_block p{
    font-size: 28px;
  }
  .black_row .container>p{
    font-size: 32px;
  }
  .comment_slider_wrap .slick-prev{
    left: calc(40% - 150px);
  }
  .comment_slider_wrap .slick-next {
    right: calc(70% - 90px);
  }
  #contacts{
    text-align: center;
  }
  .footer_nav{
    top: 20px;
    width: 100%;
  }
  .footer_nav_wrap ul>li{
    display: inline-block;
  }
  .footer_contact{
    padding: 20px;
  }
  .footer_contact ul li{
    width: 100%;
  }
  .footer_contact ul li .img_wrap{
    margin-right: 2%;
  }
.share{
  text-align: center;
}
.footer_soc p{
  text-align: center;
}
  .description{
    width: 100%;
    left: auto;
    right: 0px;
  }
}
@media only screen and (max-width : 560px) {
  .header_top{
    width: 100%;
    margin: auto;
  }
.logo{
  width: 100%;
}
.logo img{
  width: 100%;
  margin-left: 0px;
}
.contact_on_top{
  float: none;
  text-align: center;
}
.red_phone .red_button{
  font-size: 28px;
}
.proj_slider, .call_back_block{
  width: 90%;
  padding-left: 5%;
}
.top_slider .slick-dots{
  bottom: 0px;
}
.call_back_block{
  height: 300px;
}
.call_back_block h3{
  font-size: 40px;
}
.call_back_block h4{
  font-size: 32px;
  padding-top: 40px;
}
.call_back_block a{
  top: 200px;
}
.black_row{
  height: 150px;
}
.black_row .container>p>img{
  padding-bottom: 10px;
  display: block;
  margin: 10px auto 0px;
}
.comment_block{
  padding-bottom: 100px;
}
.comment_slider img{
  position: relative;
  top: 0px;
  margin: auto;
}
.comment_slider p{
  width: 100%;
}
#comment_text{
  width: 98%;
}
.comment_slider_wrap .slick-prev{
  left: 20%;
}
.comment_slider_wrap .slick-next{
  right: 20%;
}
.comment_block .red_button{
  margin-right: auto;
  float: none;
  margin-top: 0px;
  position: relative;
  top: 70px;
}
.up_arrow{
  display: none;
}
.footer_nav_wrap ul{

}
.footer_nav_wrap ul>li{
  display: block;
}
.footer_contact{
  width: 80%;
}
.footer_contact ul li p{

}
.footer_contact ul li{

}
.footer_soc{
  width: 100%;
  float: none;
  text-align: center;
}
.share {
  text-align: center;
}
.description{
  visibility: hidden;
}
.slider_complete_wrap {
  height: 610px;
}
.slider_right{
  height: 300px;
}
.slider_right a img{
  width: 300px;
  margin-left: calc(50% - 150px);
  bottom: 110px;
}
.proj_slider .slick-prev{
  top: 700px;
  left: 20%;
}
.proj_slider .slick-next{
  top: 700px;
  right: 20%;
}

#window_feedback, #window_feedback2, #window_feedback3, #window_feedback4{
  left: auto;
  top: 60vh;
  width: 100%;
  height: auto;
	margin-top:-190px;
	font-size:20px;
}
.button_submit{
  width: 175px;
  height: 40px;
  font-size: 30px;
  margin-top: 10px;
}
.close_feedback{
	right: 40px;
	top: -40px;
}
.feedbackForm2{
  padding: 0px;
}
.feedbackForm2 label{
  float: none;
}
.feedbackForm2 input{
  float: none;
  display: block;
  margin: auto;
}
}



  /* fonts */
  /* font-family: "GostARegular"; */
  @font-face {
    font-family: "GOSTA";
    src: url("../fonts/gost-type-a.ttf");
}
@font-face {
    font-family: "GOSTTypeA";
    src: url("../fonts/gost-type-a.ttf");
    src: url("../fonts/GostARegular.woff");
    src: url("../fonts/GostARegular.eot");
    font-style: normal;
    font-weight: normal;
}


/* contant item */
#data_img_1{
  background: url('../images/1112.jpg');
  background-position: center;
}
#data_img_2{
  background: url('../images/1113.jpg');
  background-position: center;
}
#data_img_3{
  background: url('../images/1114.jpg');
  background-position: center;
}
.top_slider img{
  opacity: 0;
}
